<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container main">
	<div id="meshTerrain">
		<section id="biography">
			<div id="biographyPicture" class="biography-section">
				<div class="biography-content">
					<img class="biography-image" src="/mattyo.jpg" alt="Matt Schafer portrait.">
				</div>
			</div>
	
			<div id="biographyInfo" class="biography-section">
				<div class="biography-content">
					<div class="biography-text">
						<h1 class="centered-text biography-name">Matthew Schafer</h1>
						<hr>
						<p>Developer with an interest in all aspects of software engineering – from embedded systems to computer graphics to application development to front end.</p>
	
						<div class="centered-text">
							<a class="ui inverted violet button" href="/portfolio">View my projects.</a>
						</div>
					</div>
				</div>
			</div>

			<div id="biographyDownButton" class="biography-section">
				<div class="biography-content">
					<a class="ui inverted violet button" href="#about"><i id="downIcon" class="angle double down icon"></i></a>
				</div>
			</div>
		</section>
	</div>

	<section id="about">
		<h2 class="about-header">About Me</h2>

		<hr class="about-rule">
		<p>Hi! I'm Matthew Schafer; an Australian software developer who loves to explore the various possibilities of technology.</p>
		<p>I have always had an interest in computers, and this interest has led me to where I am today. I have been programming for over <%= new Date().getFullYear() - 2012 %> years, from programming Flash buttons in ActionScript, all the way up to now; where I am extracting all of the high performance computing I can get from hardware.</p>
		<p>My main interest now is in graphics and game development. However, I have dabbled in nearly every aspect there is in software engineering - from making my own logic gates with transistors, programming embedded PCBs, making high-performance graphics applications/games, creating desktop/mobile applications, data science/visualisation, to both front and back-end web development.</p>
		<p>I have a Bachelor's degree in Computer Science, and I am always willing to learn new things and expand my knowledge.</p>
		<p>Feel free to check out my projects on <a class="about-link" href="https://github.com/LucidSigma" target="_blank">GitHub</a>!</p>
		<hr class="about-rule">
	</section>

	<div id="polygons">
		<section id="skills">
			<h2 class="skills-header">Technical Skillset</h2>
			<hr class="skills-rule">

			<div class="skills-container">
				<div class="skills-grid skills-languages-grid">
					<h4 class="skills-subheader">Languages</h4>

					<% for (const languageSet of skills["languages"]) { %>
						<h6 class="skillset-subheader"><%= languageSet.header %></h6>

						<div class="skillset-list">
							<% for (const language of languageSet.list) { %>
								<img class="skill-icon" src="/images/skills/languages/<%= language.image %>" title="<%= language.name %>" alt="<%= language.name %>">
							<% } %>
						</div>
					<% } %>
				</div>

				<div class="skills-grid skills-languages-grid">
					<h4 class="skills-subheader">Libraries/Frameworks</h4>

					<% for (const librarySet of skills["libraries"]) { %>
						<h6 class="skillset-subheader"><%= librarySet.header %></h6>

						<div class="skillset-list">
							<% for (const library of librarySet.list) { %>
								<img class="skill-icon" src="/images/skills/libraries/<%= library.image %>" title="<%= library.name %>" alt="<%= library.name %>">
							<% } %>
						</div>
					<% } %>
				</div>

				<div class="skills-grid skills-languages-grid">
					<h4 class="skills-subheader">Tools/Systems</h4>

					<% for (const toolSet of skills["tools"]) { %>
						<h6 class="skillset-subheader"><%= toolSet.header %></h6>

						<div class="skillset-list">
							<% for (const tool of toolSet.list) { %>
								<img class="skill-icon" src="/images/skills/tools/<%= tool.image %>" title="<%= tool.name %>" alt="<%= tool.name %>">
							<% } %>
						</div>
					<% } %>
				</div>
			</div>
		</section>
	</div>

	<section id="contact">
		<div class="ui stackable two column grid">
			<div class="column contact-section">
				<div class="contact-section-data">
					<h3 class="contact-header">Projects</h3>
					<a class="ui button violet" href="/portfolio">Click here to see them.</a>
				</div>
			</div>

			<div class="column contact-section">
				<div class="contact-section-data">
					<h3 class="contact-header">Contact</h3>
					
					<div class="contact-media-links">
						<div class="media-icon">
							<a href="https://github.com/LucidSigma"><i class="github icon"></i></a>
						</div>

						<div class="media-icon">
							<a href="https://www.linkedin.com/in/matthew-schafer-693a46192/"><i class="linkedin icon"></i></a>
						</div>

						<div class="media-icon">
							<a href="https://twitter.com/LucidSigma"><i class="twitter icon"></i></a>
						</div>
					</div>

					<a class="ui button violet" href="mailto:mattyo" onclick="this.href = `mailto:` + `<%= email.name %>` + `@` + `<%= email.domain %>` + `.com`;">Email Me</a>
				</div>
			</div>
		</div>
	</section>

	<%- include("partials/footer") %>
</div>

<!-- Scripts for handling window resize and absolute elements. -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/scripts/resize.js" type="text/javascript"></script>

<!-- Scripts for procedural terrain mesh. -->
<script src="/scripts/vendor/three.min.js" type="text/javascript"></script>
<script src="/scripts/vendor/Detector.js" type="text/javascript"></script>
<script src="/scripts/vendor/postprocessing/EffectComposer.js" type="text/javascript"></script>
<script src="/scripts/vendor/postprocessing/RenderPass.js" type="text/javascript"></script>
<script src="/scripts/vendor/postprocessing/ShaderPass.js" type="text/javascript"></script>
<script src="/scripts/vendor/shaders/CopyShader.js" type="text/javascript"></script>
<script src="/scripts/vendor/shaders/VignetteShader.js" type="text/javascript"></script>
<script src="/scripts/vendor/ImprovedNoise.js" type="text/javascript"></script>
<script src="/scripts/meshTerrain.js" type="text/javascript"></script>

<!-- Scripts for polygon particles. -->
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" type="text/javascript"></script>
<script src="/scripts/polygons.js" type="text/javascript"></script>

<%- include("partials/end") %>